@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600;700&display=swap');


:root {
    --white: #f1f2f3;
    --dark: #2a3133;
    --orange: #f47960;
    --red: #f73d4e;
    --yellow: #ffd67e;
    --beige: #dad0a9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    color: var(--dark);
}

main {
    position: absolute;
    top: 80px;
    width: 100%;
    height: calc(100% - 160px);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}

footer #btnAdd {
    width: 47%;
    height: 60px;
    background-color: var(--orange);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    gap: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

footer #btnAdd:hover {
    font-size: 1.1rem;
}

footer #btnDelete:hover {
    font-size: 1.1rem;
}

footer #btnDelete {
    width: 47%;
    height: 60px;
    background-color: var(--white);
    border-radius: 30px;
    border: 2px solid var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    gap: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.active {
    opacity: 1;
    visibility: visible;
}

#addBookForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    z-index: 3;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

#addBookForm form legend {
    position: absolute;
    top: 10px;
    font-weight: 700;
}

#addBookForm form button {
    width: 47%;
    border: none;
    padding: 10px 20px;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

}

#addBookForm form .buttonsForm {
    width: 80%;
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#addBookForm form #addBack {
    width: 47%;
    border: none;
    padding: 10px 20px;
    background-color: var(--white);
    color: var(--dark);
    border: 2px solid var(--dark);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#addBookForm form button:hover, button #addBack:hover {
    letter-spacing: 0.1em;
}

#addBookForm form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bookBox {
    width: 90%;
    height: 90%;
    background-color: var(--white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--dark);
    border-left: 10px solid var(--red);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.bookBox:hover {
    transform: translateY(-10px);
}

.bookBox .boxTitle {
    font-weight: 700;
    font-size: 1.75rem;
    position: relative;
    margin-bottom: 0.75rem;
    color: var(--dark);
}

.bookBox .boxTitle::after {
    content: "by";
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    font-size: 1rem;
    left: 50%;
    transform: translate(-50%);
    bottom: -0.8rem;
}

.bookBox .boxAuthor {
    color: var(--dark);
    margin-bottom: 10px;
}

.bookBox .boxPages {
    color: var(--dark);
}

.bookBox .boxIsRead {
    color: var(--dark);
    justify-content: end;
}

.bookBox .isReadBtn {
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.bookBox .isReadBtn::before{
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #66ff33;
}

.bookBox .isReadBtn:checked::before{
    transform: scale(1);
}

.read {
    border-left: 10px solid #66ff33;
}